*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body{
   
} */
.jumbotronMainContainer{
    margin: 10%;
    padding-top: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-left: 300px;
    box-sizing: border-box;
    border-radius: 3%;
    border: 10%;
}.jumbotronMainContainer::after{
    content: "";
    background-image: url(patrick-tomasso-QMDap1TAu0g-unsplash.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.lead{
    color: black;
}