/*element.style {
  height: fit-content;
  width: fit-content;
  display: inline;
  float: right: initial;
}*/
.container {
  background-color: white;
  height: 15px;
}
.img{
  float: left;
  margin-right: 10px;
}
.col-4{
  margin-top: 10px;
}
a:link {
  color: red;
}
#profile-pic{
  margin-right: 10px;
  position: static;
  height: 60%;
  width: 50%;
  float: left;
}
.row {
  display: flex;
}
.yonder-pic{
  position: static;
  border: 3px solid #000000;
  height: 60%;
  width: 50%;
}
.yorkie-pic{
  position: static;
  border: 3px solid #000000;
  height: 60%;
  width: 50%;
}
.footpage{

}
.footstyle{

}
.foot-text{

}